apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-registry
spec:
  capacity:
    storage: "{{ k8s_addons_registry_storage_size }}"
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: "{{ nfs_server }}"
    path: "{{ nfs_path }}/registry"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-data
  namespace: "{{ k8s_addons_registry_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: nfs-registry
  resources:
    requests:
      storage: "{{ k8s_addons_registry_storage_size }}"
